.form {
    border-radius: 20px;
    width: 500px;
    height: 50px;
    background-position: -565px -295px;
    background-repeat: no-repeat;
    box-shadow: 0px 50px 50px -20px rgba(18, 65, 122, 0.497);
    border-radius: 23px;
    display: flex;
}
.button1 {
    position: absolute;
    border-radius: 20px;
    width: 500px;
    margin-top: 4%;
    background-color: rgba(29, 84, 178, 0.757);
}
.form-container{
    border-radius: 10px;
    margin-left: 300px;
    background-color: rgba(128, 128, 128, 0.072);
    padding-left: 30px;
    height: 600px;
    width: 600px;
}
.info-container{
    position: absolute;
    margin-top: -250px;
    margin-left: -100px;
    border-radius: 20px;
    width: 500px;
   
}
.info-loc{
    margin-top: 50px;
}
.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -6px;
}

